{deps,
 [
  %% FIXME: move wes_locker to separate repo
  {locker, "",
   {git, "git://github.com/wooga/locker.git",
    "42fc50432b05997068b648f23ad22e76626efa32"}},
  %% FIXME: move wes_db_s3 to separate repo
  {s3erl, "0.*",
   {git, "git://github.com/anha0825/s3erl",
    {branch, "master"}}}
 ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls
               %% exports_not_used FIXME: We should use this later
              ]}.
{xref_lib_path, app_file}.
%% {xref_ignore_modules, [g10_wire_protocol_capnp]}.

%% can't be a deps and only for testing.
{xref_extra_applications, [erts, eunit]}.

%% Eunit
{eunit_opts, [verbose]}.
